html {
    scroll-behavior: smooth;
}
.bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(1rem);
    }
    20% {
        transform: translateY(0);
    }
}

.blink {
    animation: blinker 1s ease-out infinite;
}

@keyframes blinker {
    20% {
        opacity: 0;
    }
}

.pageContainer {
    margin-bottom: 15vh;
    max-width: 100%;
}
.icon {
    color: #4e4e50;
}
.icon:hover {
    color: #950740;
}

.av {
    border-radius: 50%;
    max-width: 90%;
    min-width: 15rem;
}

.Nav:hover {
    color: #ffffff;
}

.accent {
    color: #950740;
}

.link {
    color: #ffffff;
    text-decoration: underline;
}

.link:hover {
    color: #950740;
    text-decoration: none;
}

.navlink {
    color: #950740;
    font-weight: bold;
    text-decoration: none;
}

.navlink:hover {
    color: #ffffff;
    text-decoration: underline;
}
