.bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(1rem);
    }
    20% {
        transform: translateY(0);
    }
}

.blink {
    animation: blinker 1s ease-out infinite;
}

@keyframes blinker {
    20% {
        opacity: 0;
    }
}

.pageContainer {
    margin-bottom: 15vh;
    max-width: 100%;
}
.icon {
    color: #4e4e50;
}
.icon:hover {
    color: #950740;
    animation: rotate 0.8s ease-in-out;
}

.av {
    border-radius: 50%;
    max-width: 90%;
    min-width: 15rem;
}
.av:hover {
    animation: zoom 0.3s ease-in-out;
}

.pc:hover {
    animation: zoom 0.3s ease-in-out;
}

@keyframes zoom {
    50% {
        transform: scale(1.03);
    }
}

@keyframes rotate {
    100% {
        transform: rotate(720deg);
    }
}

.Nav:hover {
    color: #ffffff;
}

@keyframes sink {
    50% {
        transform: translateY(0.4rem);
    }
}

.accent {
    color: #950740;
}

.accent:hover {
    -moz-animation: bounce 0.4s;
    -webkit-animation: bounce 0.4s;
    animation: bounce 0.4s;
}

@keyframes push {
    50% {
        transform: translate(-0.7rem);
    }
}

.navlink {
    color: #950740;
    font-weight: bold;
}
.navlink:link {
    text-decoration: none;
}

.navlink:hover {
    color: #ffffff;
    text-decoration: underline;
}

.hr:hover {
    animation: bump 0.3s;
}

@keyframes bump {
    50% {
        transform: translateX(1rem);
    }
}
